@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");

* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  margin: 0;
}

nav {
  background: #4acb75;
  font-size: 1.2rem;
  height: 55px;
  font-weight: 400;
  color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
}

nav > p {
  display: flex;
  align-items: center;
}

nav > p > span {
  margin: 10px;
  font-size: 1.7rem;
}

section {
  padding: 20px 10vw;
}

.place-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #2b283a;
  font-size: 0.9rem;
  padding: 20px 0;
}

img {
  width: 20vw;
  border-radius: 5px;
}

.place--info {
  width: 60vw;
  padding: 0 40px;
}

.place--location {
  /* font-size: 16px; */
  line-height: 12px;
  letter-spacing: 0.17em;
  text-transform: uppercase;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.place--location p {
  padding-right: 25px;
}

.place--location span {
  font-weight: 600;
  padding-right: 5px;
  color: #4acb75;
}

.google--maps--url {
  letter-spacing: 0;
  /* padding-left: 25px; */
  color: #918e9b;
  text-transform: none;
  display: block;
}

.place--title {
  margin: 10px 0 40px 0;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 30px;
}

.place--date {
  font-weight: 700;
}

.place--description {
  line-height: 150%;
}

hr {
  border: 1px solid #f5f5f5;
  width: 80vw;
}

.hr:last-child hr {
  display: none;
}
